xml-containment[style-id="100001"]
{
    background-color: #FFF0D3;
    font-family: Georgia, "Times New Roman" , Times, serif;
    color: #FF9000;
    font-size: 12px;
    text-align: center;
}
xml-containment[style-id="100001"] d-menu
{
    padding-top: 15px;
}
xml-containment[style-id="100001"] d-restaurant-address
{
    color: white;
    background: #FF9000;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
}
xml-containment[style-id="100001"] d-menu-header
{
    background: #FF9000;
    color: white;
    font-family: "Arial Black" , Gadget, sans-serif;
    padding: 20px;
    font-size: 25px;
    padding-bottom: 17px;
    text-transform: uppercase;
}
xml-containment[style-id="100001"] d-menu-title
{
    position: relative;
    padding: 10px 0 10px 0;
}
xml-containment[style-id="100001"] d-menu-name
{
    margin: 0 auto 0 auto;
    max-width: 40%;
    width: 40%;
    min-width: 40%;
    border-right: 1px solid #FF9000;
    border-left: 1px solid #FF9000;
    padding: 0 5px 0 5px;
}
xml-containment[style-id="100001"] d-primary-menu-name
{
    font-family: "Arial Black" , Gadget, sans-serif;
    font-size: 37px;
    line-height: 0.8;
    word-break: break-all;
    text-transform: uppercase;
}
xml-containment[style-id="100001"] d-secondary-menu-name
{
    margin: 0 auto 0 auto;
    font-family: Verdana, Geneva, sans-serif;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    word-break: break-all;
}
xml-containment[style-id="100001"] d-primary-menu-description
{
    position: absolute;
    left: 0;
    top: 10px;
    text-align: left;
    max-width: 25%;
    width: 25%;
    min-width: 25%;
    text-transform: uppercase;
}
xml-containment[style-id="100001"] d-secondary-menu-description
{
    position: absolute;
    right: 0;
    top: 10px;
    text-align: right;
    max-width: 25%;
    width: 25%;
    min-width: 25%;
}
xml-containment[style-id="100001"] d-primary-section-name
{
    padding-top: 10px;
    border-top: #FF9000 1px solid;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
xml-containment[style-id="100001"] d-secondary-section-name
{
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
    font-size: 11px;
    font-style: italic;
}
xml-containment[style-id="100001"] d-primary-section-description
{
    color: #F8BE72;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 12px;
}
xml-containment[style-id="100001"] d-secondary-section-description
{
    font-style: italic;
    color: #666;
    font-size: 11px;
    border-bottom: #FF9000 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
xml-containment[style-id="100001"] d-primary-subsection-name
{
    border-top: #FF9000 1px solid;
    margin-top: 5px;
    text-transform: uppercase;
    padding-top: 10px;
}
xml-containment[style-id="100001"] d-secondary-subsection-name
{
    color: #666;
    font-size: 11px;
    font-style: italic;
}
xml-containment[style-id="100001"] d-primary-subsection-description
{
    color: #F8BE72;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 14px;
}
xml-containment[style-id="100001"] d-secondary-subsection-description
{
    font-style: italic;
    color: #666;
    font-size: 11px;
    border-bottom: #FF9000 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
xml-containment[style-id="100001"] d-item
{
    margin-top: 20px;
}
xml-containment[style-id="100001"] d-item:after
{
    clear: both;
    content: '';
    display: block;
}
xml-containment[style-id="100001"] d-primary-item-name
{
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin-right: 100px;
}
xml-containment[style-id="100001"] d-secondary-item-name
{
    text-align: left;
    margin-right: 100px;
    font-style: italic;
    font-size: 11px;
    color: #666;
}
xml-containment[style-id="100001"] d-primary-item-description
{
    text-align: left;
    color: #F8BE72;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 12px;
}
xml-containment[style-id="100001"] d-secondary-item-description
{
    text-align: left;
    font-style: italic;
    color: #666;
    font-size: 11px;
}
xml-containment[style-id="100001"] d-item-price
{
    float: right;
    width: 90px;
    text-align: right;
}
xml-containment[style-id="100001"] d-group
{
    margin-top: 10px;
}
xml-containment[style-id="100001"] d-group:after
{
    clear: both;
    content: '';
    display: block;
}
xml-containment[style-id="100001"] d-group-price
{
    float: right;
    width: 90px;
    text-align: right;
}
xml-containment[style-id="100001"] d-primary-group-name
{
    margin-right: 100px;
    text-align: left;
    font-size: 12px;
}
xml-containment[style-id="100001"] d-secondary-group-name
{
    text-align: left;
    margin-right: 100px;
    font-style: italic;
    font-size: 11px;
    color: #666;
}
xml-containment[style-id="100001"] d-primary-group-description
{
    text-align: left;
    color: #F8BE72;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 12px;
}
xml-containment[style-id="100001"] d-secondary-group-description
{
    text-align: left;
    font-style: italic;
    color: #666;
    font-size: 11px;
}
xml-containment[style-id="100001"] d-option-list
{
}
xml-containment[style-id="100001"] d-option-list:after
{
    clear: both;
    content: '';
    display: block;
}
xml-containment[style-id="100001"] d-option
{
    margin-left: 10px;
    margin-top: 10px;
    width: 45%;
    min-width: 200px;
    float: left;
    text-align: left;
}
xml-containment[style-id="100001"] d-primary-option-name
{
    line-height: 18px;
    font-size: 12px;
}
xml-containment[style-id="100001"] d-secondary-option-name, xml-containment[style-id="100001"] d-ddl-secondary-option-name
{
    font-size: 11px;
    color: #666;
}
xml-containment[style-id="100001"] d-primary-option-description
{
    text-align: left;
    color: #F8BE72;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 11px;
}
xml-containment[style-id="100001"] d-secondary-option-description
{
    text-align: left;
    font-style: italic;
    color: #666;
    font-size: 11px;
}
