.landing-container 
{
    position: relative;
}
#top-space
{
    width: 100%;
    height: 50px;
}
#version
{
    font-weight: bold;
}
#powered-by, #version, #description
{
    text-align: center;
    margin-bottom: 14px;
}
#form
{
    width: 430px;
}
#table-form
{
    width: 430px;
}
.field-title
{
    width: 100px;
}
.field-title, .field-input
{
    height: 26px;
    margin-bottom: 5px;
    line-height: 26px;
}
#table-form input[type=text], #table-form input[type=password]
{
    width: 325px;
    min-height: 18px;
    height: 18px;
    max-height: 18px;
}
.vendor-name
{
    font-size: 18px;
    font-weight: bold;
}
#error
{
    color: Red;
    font-size: 90%;
    margin-bottom: 10px;
}
#error li 
{
    margin-left: 15px;
}
#table-button 
{
    margin-left: 100px;
    border: hidden;
}
.change-password-title 
{
    width: 170px;
    float: left;
    line-height: 22px;
    height: 22px;
    padding-bottom: 5px;
}
.change-password-input 
{
	margin-left: 180px;
	padding-bottom: 5px;
}
.change-password-input input[type='password'] 
{
    width: 95%!important;
}
