/* --- dialog buttons */
.biz-dialog-button 
{
	border-radius: 8px;
	color: #933;
	font-weight: bold;
	width: 84px;
	height: 25px;
	background-color: #e5af97 !important;
}
.biz-dialog-button.big 
{
	width: 126px;
}
.biz-dialog-button:hover 
{
	background-color: #c99;
}
.biz-dialog-button:active, .biz-dialog-button.active
{
	color: White;
	background-color: #966;
}

/* --- */
#select-type-dialog
{
	width: 210px;
	/*height: 100px;*/
	border: 1px solid black;
	background-color: White;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
}
#select-type-dialog .image-button
{
	width: 100px;
	height: 25px;
	line-height: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	color: #933;
	background: url(images/holiday-button-bg-small.png) repeat;
}
#select-type-dialog .image-button:hover
{
	background: url(images/holiday-button-bg-small-hover.png) repeat;
}
#select-type-dialog .image-button:active
{
	background: url(images/holiday-button-bg-small-onclick.png) repeat;
}
.button-menu-close, .button-imymenu, .button-copy
{
	margin-left: auto;
	margin-right: auto;
}
.ui-datepicker
{
	display: none !important;
}

.menu-containment
{
	overflow-y: auto;
	min-height: 100px; /*max-height: 440px;*/
}
.menu-type-header
{
	background: url("images/summary-breaky-header-small.png") repeat;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}
.menu-type-header div.day, .menu-type-header div.event-type, .menu-type-header div.event-name
{
	float: left;
	overflow: hidden;
	line-height: 16px;
	height: 16px;
}
.menu-type-header div.day
{
	width: 82px;
}
.menu-type-header div.event-type
{
	width: 200px;
}
.menu-type-header div.event-name
{
	width: 100px;
}

/* ------------------- */
table.menu-input
{
	border-collapse: collapse;
	width: 100%;
}
table.menu-input td input[type='text']
{
	text-align: center;
	height: 18px !important;
}
table.menu-input td.menu-name, table.menu-input td.menu-type, table.menu-input td.menu-day
{
	padding: 0 5px 0 5px;
}
table.menu-input td.menu-name
{
	width: 87px;
	background-color: #933;
}
table.menu-input tr td.black-line
{
	border-bottom: 1px solid #930;
}
table.menu-input tr td.gray-line
{
	border-bottom: 1px solid #CCC;
}
table.menu-input tr td.odd
{
	background-color: rgba(204, 153, 153, 0.4);
}
table.menu-input td.menu-type
{
	height: 35px;
}
table.menu-input td.menu-day
{
	width: 73px;
}
table.menu-input td.close-state
{
	width: 83px;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none; /*background-color: rgba(0, 0, 0, 0.3);*/ /*color: White;*/
	outline: 1px solid #BBB;
	font-weight: bold;
}
table.menu-input td.close-state.holiday-mask 
{
	color: Red;
}
table.menu-input tr.button-panel td
{
	height: 30px;
}
button.ui-datepicker-current
{
	display: none !important;
}
#holiday-select-panel
{
	margin-top: 20px;
}
#holiday-select-panel > div > *
{
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}
#holiday-select-panel select, #holiday-select-panel button
{
	height: 25px;
	border-radius: 3px;
	border-style: none;
	font-weight: bold;
	color: #933;
	background: url(images/holiday-button-bg-small.png) repeat;
	-webkit-appearance: none;
	cursor: pointer;
	text-align: center;
	padding: 0 10px 0 10px;
}
#holiday-select-panel select:hover, #holiday-select-panel button:hover
{
	background: url(images/holiday-button-bg-small-hover.png) repeat;
}
#holiday-select-panel select:active, #holiday-select-panel button:active
{
	background: url(images/holiday-button-bg-small-onclick.png) repeat;
}
#setting-desc 
{
    line-height: 25px;
    font-size: 13px;
}
#holiday-select-panel #type-selector
{
	width: 100px;
}
#holiday-select-panel #year-selector
{
	width: 110px;
}
#holiday-select-panel #day-selector
{
	width: 220px;
}
.dialog
{
	width: 545px;
	font-family: Arial, Helvetica, sans-serif;
	color: #933;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	padding-bottom: 10px;
}
.dialog .table-containment
{
	min-height: 290px;
	height: 290px;
	max-height: 290px;
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.dialog .select-panel select
{
	float: left;
	margin-left: 20px;
	height: 25px;
	-webkit-appearance: none;
	border-radius: 8px;
	color: #933;
	font-weight: bold;
	outline: none;
	border: none;
	background: url(images/down-arrow.png) right no-repeat #e5af97;
	padding-right: 25px;
}
.dialog .select-panel select:hover
{
	background-color: #c99;
}
.dialog .select-panel select:active
{
	color: White;
	background-color: #966;
}
.dialog .select-panel button
{
	float: left;
	margin-left: 20px;
}
.dialog .select-panel select#country-selector
{
	width: 200px;
}
.dialog .select-panel select#year-selector
{
	width: 120px;
}
.dialog table
{
	width: 100%;
}
.dialog table thead
{
	font-weight: bold;
}
.dialog table tbody tr.holiday-name
{
	color: White;
	font-weight: bold;
	background-color: #933;
}
.dialog table td, .dialog table th
{
	padding: 3px 10px 3px 10px;
	white-space: nowrap;
	min-width: 40px;
	height: 25px;
}
.dialog table input[type="text"]
{
	width: 80px;
}
.dialog table .delete-cell
{
	padding-right: 0;
	padding-left: 0;
	width: 22px;
}
