#holiday-setting
{
	width: 1010px;
	margin: 0 auto 0 auto;
}
#header
{
    padding-left: 233px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
#spec-day-panel
{
    width: 505px;
    float: left;
}
#calendar-list
{
    height: 600px;
    overflow: auto;
    background-color: #F2D5C7;
}
.center
{
	height: 30px;
    text-align: center;
    color: grey;
    font-weight: bold;
    font-size: 12px;
    margin: 0 5px 0 5px;
}
#pub-day-panel
{
    margin-left: 505px;
}
table.calendar thead
{
    background: url("images/summary-breaky-header-small.png") repeat;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    line-height: 19px;
}
table.calendar, table.calendar th, table.calendar tr, table.calendar td
{
    border-collapse: collapse;
    font-weight: bold;
    font-size: 10px;
}

table.calendar td.event
{
    background-color: White;
}
table.calendar td
{
    width: 12%;
    line-height: 23px;
    padding-left: 5px;
    padding-right: 3px;
}
table.calendar td.open
{
    /*color: Black;*/
}
table.calendar td.closed
{
    /*    color: white; */
}

table.calendar td.closed div.common-closed
{
    background-color: grey;
    color: black;
}
table.calendar td.closed div.special-closed
{
    background-color: black;
    color: white;
}
table.calendar td.closed div.public-closed
{
    background-color: black;
    color: Yellow;
}
table.calendar td.closed div.outmonth
{
    color: Brown;
}
table.calendar td.common-closed div
{
    background-color: black;
}
table.calendar td.even
{
    border-bottom: 1px solid #ccc;
}
table.calendar td.odd
{
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(190, 136, 136, .5);
    border-bottom: 1px solid #ccc;
}
table.calendar td.selected
{
    background-color: #FF7EF5;
}
table.calendar td.day
{
    background-color: #f2f2f2;
    text-align: center;
}
table.calendar td .date
{
    float: right;
    font-size: 9px; /*color: black;*/
    margin-top: 0px;
    height: 19px;
    font-weight: bold;
    color: inherit;
}
table.calendar td .red
{
    color: red;
}
table.calendar td .white
{
    color: white;
}
table.calendar td .black
{
    color: black;
}
table.calendar td .blue
{
    color: blue !important;
}
table.calendar td .yellow
{
    color: yellow !important;
}
table.calendar td .grey
{
    color: grey;
}
table.calendar td .outmonth
{
    color: brown !important;
}
table.calendar
{
    width: 100%;
}
table.calendar tr.footer
{
    background-color: #ECB100;
}
table.calendar tr.footer td
{
    line-height: 10px;
}
table.calendar.tophidden
{
    border-top-style: hidden;
}
table.calendar.bottomhidden
{
    border-bottom-style: hidden;
}

table.calendar .status
{
    cursor: pointer;
    font-size: 9px;
    display: inline !important;
    color: inherit;
    height: 20px;
    font-weight: bold;
}

#holiday-setting-footer
{
    /*margin-top: 10px;*/
}
#date-picker
{
    width: 90px;
    font-size: 10px;
    font-weight: bold;
}
.previous, .next
{
    cursor: pointer;
}
.control-date
{
    margin: auto;
    border-spacing: 0px;
}
.control-date td
{
    border: 0px !important;
}


/***********Copy of biz-hours.css*****************/
/* --- dialog buttons */
.biz-dialog-button
{
    border-radius: 8px;
    color: #933;
    font-weight: bold;
    width: 84px;
    height: 25px;
    background-color: #e5af97 !important;
}
.biz-dialog-button.big
{
    width: 126px;
}
.biz-dialog-button:hover
{
    background-color: #c99;
}
.biz-dialog-button:active, .biz-dialog-button.active
{
    color: White;
    background-color: #966;
}

/* --- */
#select-type-dialog
{
    width: 210px; /*height: 100px;*/
    border: 1px solid black;
    background-color: White;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
}
#select-type-dialog .image-button
{
    width: 100px;
    height: 25px;
    line-height: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    color: #933;
    background: url(images/holiday-button-bg-small.png) repeat;
}
#select-type-dialog .image-button:hover
{
    background: url(images/holiday-button-bg-small-hover.png) repeat;
}
#select-type-dialog .image-button:active
{
    background: url(images/holiday-button-bg-small-onclick.png) repeat;
}
.button-menu-close, .button-imymenu, .button-copy
{
    margin-left: auto;
    margin-right: auto;
}
.ui-datepicker
{
    display: none !important;
}

.menu-containment
{
    overflow-y: auto;
    min-height: 100px; /*max-height: 440px;*/
}
.menu-type-header
{
    background: url("images/summary-breaky-header-small.png") repeat;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}
.menu-type-header div.day, .menu-type-header div.event-type, .menu-type-header div.event-name
{
    float: left;
    overflow: hidden;
    line-height: 16px;
    height: 16px;
}
.menu-type-header div.day
{
    width: 82px;
}
.menu-type-header div.event-type
{
    width: 200px;
}
.menu-type-header div.event-name
{
    width: 100px;
}

/* ------------------- */
table.menu-input
{
    border-collapse: collapse;
    width: 100%;
}
table.menu-input td input[type='text']
{
    text-align: center;
    height: 18px !important;
}
table.menu-input td.menu-name, table.menu-input td.menu-type, table.menu-input td.menu-day
{
    padding: 0 5px 0 5px;
}
table.menu-input td.menu-name
{
    width: 87px;
    background-color: #933;
}
table.menu-input tr td.black-line
{
    border-bottom: 1px solid #930;
}
table.menu-input tr td.gray-line
{
    border-bottom: 1px solid #CCC;
}
table.menu-input tr td.odd
{
    background-color: rgba(204, 153, 153, 0.4);
}
table.menu-input td.menu-type
{
    height: 35px;
}
table.menu-input td.menu-day
{
    width: 73px;
}
table.menu-input td.close-state
{
    width: 83px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none; /*background-color: rgba(0, 0, 0, 0.3);*/ /*color: White;*/
    outline: 1px solid #BBB;
    font-weight: bold;
}
table.menu-input td.close-state.holiday-mask
{
    color: Red;
}
table.menu-input tr.button-panel td
{
    height: 30px;
}
button.ui-datepicker-current
{
    display: none !important;
}
#holiday-select-panel
{
    margin-top: 20px;
}
#holiday-select-panel > div > *
{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}
#holiday-select-panel select, #holiday-select-panel button
{
    height: 25px;
    border-radius: 3px;
    border-style: none;
    font-weight: bold;
    color: #933;
    background: url(images/holiday-button-bg-small.png) repeat;
    -webkit-appearance: none;
    cursor: pointer;
    text-align: center;
    padding: 0 10px 0 10px;
}
#holiday-select-panel select:hover, #holiday-select-panel button:hover
{
    background: url(images/holiday-button-bg-small-hover.png) repeat;
}
#holiday-select-panel select:active, #holiday-select-panel button:active
{
    background: url(images/holiday-button-bg-small-onclick.png) repeat;
}
#setting-desc
{
    line-height: 25px;
    padding-left: 80px;
}
#holiday-select-panel #type-selector
{
    width: 100px;
}
#holiday-select-panel #year-selector
{
    width: 110px;
}
#holiday-select-panel #day-selector
{
    width: 220px;
}
.dialog
{
    width: 545px;
    font-family: Arial, Helvetica, sans-serif;
    color: #933;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    padding-bottom: 10px;
}
.dialog .table-containment
{
    margin-top: 20px;
    max-height: 564px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.dialog .select-panel select
{
    float: left;
    margin-left: 20px;
    height: 25px;
    -webkit-appearance: none;
    border-radius: 8px;
    color: #933;
    font-weight: bold;
    outline: none;
    border: none;
    background: url(images/down-arrow.png) right no-repeat #e5af97;
    padding-right: 25px;
}
.dialog .select-panel select:hover
{
    background-color: #c99;
}
.dialog .select-panel select:active
{
    color: White;
    background-color: #966;
}
.dialog .select-panel button
{
    float: left;
    margin-left: 20px;
}
.dialog .select-panel select#country-selector
{
    width: 200px;
}
.dialog .select-panel select#year-selector
{
    width: 120px;
}
.dialog table
{
    width: 100%;
    border-spacing: 0;
}
.dialog table thead
{
    font-weight: bold;
}
.dialog table tbody
{
    width: 100%;
    height: 536px;
    overflow: auto;
}


.dialog table tbody tr.holiday-name
{
    color: White;
    font-weight: bold;
    background-color: #933;
}
.dialog table td, .dialog table th
{
    padding: 3px 10px 3px 10px;
    white-space: nowrap;
    height: 25px;
}
.dialog table input[type="text"]
{
    width: 80px;
}
.dialog table .delete-cell
{
    padding-right: 0;
    padding-left: 0;
    width: 22px;
}
#public-data
{
    overflow: auto;
    height: 520px;
    width: 100%;
}
table.calendar td .cell-status-date
{
    /*background-color: white;*/
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: gray !important;
    border: 1px solid;
    padding-left: 3px;
    padding-right: 3px;
    width: 45px;
    background-color:White;
    color:Black;
}
table.calendar td.sitting-name
{
    background-color: #933;
}
#control-date-block
{
    float: left;
}
#title-block
{
    margin-left: 159px;
}
