*
{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html
{
    height: 100%;
}
body
{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #933;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    position: relative;
}
/* id */
#title
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    line-height: normal;
    color: #933;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}
#wrapper
{
    margin: 0 auto 0;
    min-height: 100%;
    height: 100%;
    height: auto!important;
    min-width: 980px;
    /*width: 1020px;*/
    padding-left: 10px;
    padding-right: 10px;
    background: url("images/background-small.jpg") repeat;
    overflow: hidden;
}

#content
{
    margin: 0 auto 10px;
    width: 100%;
}
#push
{
    width: 1000px;
    height: 40px;
}
#footer
{
    margin: -40px auto 0 auto;
	padding-left: 10px;
    padding-right: 10px;
    height: 40px;
}
.clearfix
{
    zoom: 1;
}
.clearfix:after
{
    content: "";
    display: block;
    clear: both;
}
.opacity-box
{
    background-color: rgba(255, 255,255, 0.35);
    margin: 0 auto 0 auto;
    padding: 10px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.image-left
{
    position: absolute;
    left: 0;
    top: 110px;
    background: url("images/cutlery-left.png") no-repeat;
    width: 161px;
    height: 403px;
}
.image-right
{
    position: absolute;
    right: 0;
    top: 270px;
    background: url("images/cutlery-right.png") no-repeat;
    width: 106px;
    height: 383px;
}
.logo
{
    background: url("images/landing-logo.png") no-repeat;
    width: 242px;
    height: 249px;
    margin-left: auto;
    margin-right: auto;
}
input[type=text]
{
    height: 20px;
    width: 97%;
}
textarea 
{
	width: 97%;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px;
}

select
{
    height: 24px;
    width: 99%;
}

.center-box
{
    margin-right: auto;
    margin-left: auto;
}
.left
{
    float: left;
}
.right 
{
    float: right;
}
.hidden 
{
    display: none;
}
.text-left 
{
	text-align: left;
}
.text-right 
{
	text-align: right;
}