#note-left 
{
	float: left;
	text-align: right;
	width: 100px;
}
#note-right 
{
	margin-left: 120px;
}
#input-layout 
{
	width: 100%;
}
#input-layout .label 
{
	width: 220px;
}
#input-layout .desc 
{
	text-align: right;
	color: #933;
	font-size: 12px;
	width: 50px;
}
#input-layout .private 
{
	width: 50px;
}
#input-layout td 
{
	border: 5px solid transparent;
}
.long-desc 
{
	text-align: left;
	color: #933;
	font-size: 12px;
	
}
#input-containment 
{
	float: left;
	width: 640px;
}
#image-containment 
{
	max-width: 200px;
	width: 200px;
	min-width: 200px;
	vertical-align: top;
}
#image-upload 
{
	background: url(images/MenuEditor/searchimage.png) no-repeat center center;
	width: 129px;
	height: 28px;
}
#delete-image 
{
	display: block;
	float: right;
	background: url(images/MenuEditor/del-icon.png) no-repeat center center;
	width: 16px;
	height: 20px;
}
#image-preview-panel 
{
	margin-right: 30px;
}
#image-upload input 
{
	opacity: 0;
	display: block;
	width: 100%;
	height: 100%;
}
#image-preview 
{
	margin-top: 5px;
	min-height: 100px;
	max-height: 320px;
	background: #F7EFE8;
	border: #FECBA4 1px solid;
	margin-bottom: 5px;
	overflow: hidden;
	text-align: center;
}
#image-preview img 
{
	height: auto;
	width: 100%;
}
#view-image-lbl 
{
	font-weight: bold;
	margin-right: 20px;
}
#view-image-chk 
{
	float: right;
	width: 20px;
}
.text-align-center
{
    text-align: center;
}
div.error 
{
    color: Red;
    padding-top: 10px;
}
div.input-label, div.input-value, div.info
{
    float: left;
    height: 24px;
    line-height: 24px;
    padding-bottom: 10px;
}
div.input-label
{
    width: 250px;
}
div.input-value
{
    width: 300px;
}
div.hidden-label label 
{
    display: none;
}
