#booking-notifier
{
	position: absolute;
	top: 7px;
	left: 5px;
	font-size: 30px;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: url(images/Report/icon-report.png) no-repeat;
}
#new-booking-notifier
{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid blue;
	background-color: #09b2ef;
	color: Black;
	float: right;
	margin-top: -5px;
	margin-right: -5px;
	width: 20px;
	height: 20px;
	font-size: 10px;
	font-weight: bold;
	line-height: 20px;
}
#new-booking-notifier.off
{
	display: none;
}
#report-dialog
{
	width: 1000px;
}
#report-dialog div[role="filter"] 
{
	margin-top: 10px;
	padding: 0 5px 0 5px;
	overflow: hidden;
}
#report-dialog div[role="filter"] table .image-button
{
	width: 90px;
	margin: 0 auto 0 auto;
	border: 1px solid black;
	font-size: 9px;
	line-height: 18px;
	height: 18px;
	background-color: white;
}
#report-dialog div[role="filter"] table .image-button:hover 
{
	color: White;
	background-color: #666;
}
#report-dialog div[role="filter"] table .image-button:active 
{
	color: White;
	background-color: #333;
}
#report-dialog div[role="filter"] table 
{
	font-size: 9px;
	table-layout: fixed;
	margin: 0 auto 0 auto;
	border-spacing: 0;
	border-collapse: collapse;
}
#report-dialog div[role="filter"] table select 
{
	font-size: 9px;
	height: 18px;
	-webkit-appearance: none;
	border: 1px solid black;
	padding-right: 20px;
	background: url(images/down-arrow.png) no-repeat White;
	background-position: center right;
	background-size: 18px 18px;
}
#report-dialog div[role="filter"] table td
{
	width: 110px;
	padding: 2px;
	vertical-align: middle;
	text-align: center;
}
#report-dialog #filter-button 
{
	width: 24px;
	height: 24px;
	background-image: url(images/Report/filter.png);
	float: left;
	margin-left: 10px;
}

/*---- Table CSS ----*/
#report-dialog div[role="table-containment"]
{
	padding: 10px 5px 10px 5px;
}
#report-dialog div[role="table-containment"] table
{
	font-size: 8px;
}
#report-dialog div[role="table-containment"] table td 
{
	padding: 2px 0px 2px 0px;	
}
#report-dialog table[role="header"]
{
	text-align: center;
	font-weight: bold;
	
	color: White;
}
#report-dialog table[role="header"] td
{
	background-color: #933;
}
#report-dialog table[role="header"] tr#group-header
{
	font-size: 9px;
} 
#report-dialog div[role="info"] 
{
	overflow-y: auto;
	overflow-x: hidden;
	height: 270px;
}
#report-dialog div[role="info"] table
{
	text-align: center;
	width: 100%;
}
#report-dialog div[role="info"] table tr 
{
	cursor: pointer;
}
#report-dialog div[role="info"] table tr:hover td
{
	color: Black;
	background-color: White!important;
}
#report-dialog div[role="info"] table tr.event-row td 
{
	background-color: #F7E4DB;
}
#report-dialog div[role="info"] table td
{
	overflow: hidden;
	word-break: break-all;
	height: 24px;
}
#report-dialog div[role="info"] table tr.highlight td 
{
    color: Blue;
}
#report-dialog div[role="info"] table tr.highlight td.highlight
{
	background-color: #FFFA51;
}
#report-dialog div[role="info"] table td div
{
	white-space: normal;
	padding: 0 2px 0 2px;
	word-break: break-all;
}
