#focus-line 
{
	background: blue;
	position: absolute;
	opacity: 0.3;
	z-index: 5;
}
#chart-area
{
	padding: 40px 0 40px 0;
	position: relative;
}
#chart-body
{
	/*background-color: Yellow;*/
	position: absolute;
}
#chart-body > div
{
	position: relative;
	width: 100%;
	height: 100%;
}
#chart-body .biz-hour-area
{
	position: absolute;
	z-index: 3;
}
#chart-body .biz-hour-area table
{
	width: 100%;
}
#chart-body .biz-hour-area td
{
	border: 1px solid rgba(213, 183, 183, 0.5);
}
#chart-body .biz-hour-area .title
{
	border: 1px solid black;
	overflow: hidden;
	white-space: nowrap;
	height: 20px;
	min-height: 20px;
	max-height: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	background: url("images/summary-breaky-header-small.png") repeat;
}
#chart-body .biz-hour-area td.open
{
	background-color: rgba(213, 183, 183, 0.5);
}
#chart-body .biz-hour-area td.close
{
	background-color: rgba(193, 163, 163, 0.5);
}
#summary-chart
{
	margin: 0 auto 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
}
#adapt-div table
{
	border-collapse: collapse;
	font-weight: bold;
	text-align: center;
	border-spacing: 0;
}
#summary-chart #chart-background
{
	border: 1px solid black;
}
#summary-chart #chart-background table
{
	width: 100%;
}
.first-row td
{
	height: 19px;
}
#summary-chart #chart-background tr:not(.first-row) td
{
	width: 100%;
	height: 20px;
}
#adapt-div #table-ruler tr.even-row, #adapt-div #chart-background tr.even-row
{
	background-color: rgba(255,255,255, 0.5);
}
#adapt-div #table-ruler .highlight
{
	color: Blue;
}
#adapt-div #table-ruler td, #adapt-div #float-table-ruler td
{
	min-width: 70px;
	max-width: 70px;
	width: 70px;
	height: 20px;
	line-height: 20px;
}
#adapt-div .ruler td
{
	width: 17px;
	height: 13px;
	min-width: 17px;
	max-width: 17px;
}
#adapt-div .ruler td.minute
{
	border-right: 1px black dotted;
}
#adapt-div .ruler td.hour
{
	border-right: 1px black solid;
}
.input-highlighted
{
	background-color: #3380CB;
	color: White;
}
.ruler-highlighted
{
	color: #3380CB;
}
#float-time-ruler, #float-table-ruler
{
	position: absolute;
	filter: alpha(opacity=80);
	background-color: #aa6f6f;
	opacity: 0.8;
	z-index: 6;
	color: White;
	font-weight: bold;
	display: none;
}
#float-time-ruler 
{
	left: 0px;
}
#float-table-ruler 
{
	top: -1px;
}
