#adapt-div
{
	min-height: 400px;
	overflow: auto;
}
#adapt-div *
{
	-webkit-user-select: none;
	-moz-user-select: none;
}
#float-menu
{
	position: absolute;
	background-color: black;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	z-index: 9999;
}
#float-menu ul
{
	margin-bottom: 1px;
}
#float-menu li
{
	list-style-type: none;
	text-align: center;
}
#float-menu ul li a
{
	display: block;
}
#container
{
	width: 100%;
}
#navigator-box
{
	width: 920px;
	padding-top: 10px;
}
.bold-text
{
	font-weight: bold;
	white-space: nowrap;
}
.table-text
{
	font-weight: bold;
	white-space: nowrap;
	padding-right: 2px;
}
.business-hour-header
{
	height: 20px;
	width: 170px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	white-space: nowrap;
	display: table-cell;
	padding-left: 5px;
	padding-right: 2px;
	cursor: pointer;
}
.yellow-bg
{
	background: url("images/summary-breaky-header-small.png") repeat;
}
.summary-button
{
	height: 20px;
	width: 30px;
	cursor: pointer;
}
.minus-icon
{
	background: url("images/summary-minus-btn.png") center no-repeat;
}
.plus-icon
{
	background: url("images/summary-show-btn.png") center no-repeat;
}
.imytable-icon
{
	background: url("images/summary-imytable-icon.png") center no-repeat;
	height: 20px;
	width: 20px;
}
.chart-div
{
	position: relative;
	zoom: 1; /*height: 100%;     width: 100%;*/
	margin-right: auto;
	margin-left: auto;
}
.chart-table
{
	width: 1px;
	z-index: 1px;
}
.business-hour-table
{
	position: absolute;
	z-index: 0;
}
.chart-body
{
	vertical-align: top;
	overflow: visible;
	white-space: normal;
	position: relative;
}
img
{
	cursor: pointer;
}
.float-block
{
	min-width: 14px;
	width: 14px;
	max-width: 14px;
	border-bottom: 1px solid white;
	height: 16px;
	min-height: 16px;
	max-height: 16px;
}
.float-block-min
{
	border-right: 1px dotted white;
}
.float-block-hour
{
	border-right: 1px solid white;
}
.floating-time-ruler, .floating-table-ruler
{
	position: absolute;
	filter: alpha(opacity=80);
	background-color: #aa6f6f;
	height: 40px;
	opacity: 0.8;
	z-index: 100;
	color: White;
	font-weight: bold;
	overflow: hidden;
}
.floating-time-ruler
{
	height: 40px;
	left: 140px;
}
.floating-table-ruler
{
	width: 140px;
	top: 54px;
}
.floating-table-block
{
	height: 20px;
	min-height: 20px;
	max-height: 20px;
	min-width: 70px;
	max-width: 70px;
	width: 70px;
	text-align: center;
}
.chart-body-row
{
	height: 17px;
}
.chart-element[imytable="1"]
{
	background-color: #3e71b7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51C9F1', endColorstr='#3E71B7');
	background-image: -ms-linear-gradient(top, #51C9F1 0%, #3E71B7 100%);
	background-image: -moz-linear-gradient(top, #51C9F1 0%, #3E71B7 100%);
	background-image: -o-linear-gradient(top, #51C9F1 0%, #3E71B7 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #51C9F1), color-stop(1, #3E71B7));
	background-image: -webkit-linear-gradient(top, #51C9F1 0%, #3E71B7 100%);
	background-image: linear-gradient(to bottom, #51C9F1 0%, #3E71B7 100%);
	color: white;
}
.chart-element
{
	-webkit-user-select: none;
	-ie-user-select: none;
	-moz-user-select: none;
	background-color: yellow;
	width: auto;
	min-height: 14px;
	height: 14px;
	max-height: 14px;
	display: inline-block;
	border: 1px solid black;
	position: absolute;
	margin: 0;
	padding: 0;
	white-space: nowrap; /*overflow: hidden;*/
	font-weight: normal;
	cursor: pointer;
	font-size: x-small;
	z-index: 4;
	overflow: visible;
}
.chart-element *
{
	z-index: 98;
}
.chart-element .booking-detail
{
	top: 0;
	right: 0;
	position: absolute;
	height: 14px;
	width: 10px;
	line-height: 14px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: Black;
	background-color: Yellow;
	border-left: 1px solid black;
}
.chart-element .booking-detail:after
{
	content: '?';
}
.chart-element .booking-detail:hover
{
	background-color: #3380CB;
	color: White;
}
.chart-text
{
	width: auto;
	overflow: hidden;
	white-space: nowrap;
	line-height: 14px;
}
.chart-element-popup
{
	position: absolute;
	top: -17px;
	left: -1px;
	height: 13px;
	border: 1px solid black;
	z-index: 99;
	background-color: #333;
	color: White;
}
.table-ruler-block, .table-no, .table-ruler-header
{
	height: 20px;
	min-height: 20px;
	max-height: 20px;
	min-width: 70px;
	max-width: 70px;
	width: 70px;
	text-align: center;
	line-height: 20px;
}
.shift-header
{
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid black;
	height: 17px;
	background: url("images/summary-breaky-header-small.png") repeat;
	font-weight: bold;
	line-height: 17px;
}
.shift-body
{
	/* 	border-left: 1px solid black; 	border-right: 1px solid black;*/
	position: relative;
}
.shift-footer
{
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid black;
	height: 17px;
	background: url("images/summary-breaky-header-small.png") repeat;
	font-weight: bold;
	line-height: 17px;
}
.shift-openning
{
	background-color: rgba(213, 183, 183, 0.5);
	top: 0;
	left: 0;
	z-index: 1;
	position: absolute;
}
.shift-kitchen-close
{
	background-color: rgba(193, 163, 163, 0.5);
	position: absolute;
	top: 0;
	right: 0;
}
.close-div
{
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	position: relative;
	min-height: 100px;
	width: 100%;
}
.close-div > div
{
	/*line-height: 400px;*/
	font-size: xx-large;
	position: absolute;
	top: 50%;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.dragging-table
{
	color: Blue;
}
/*#chart-background
{
	background: url("images/chart-bg.png") repeat;
	position: absolute;
	z-index: 0;
	border-right: 1px solid black;
	border-left: 1px solid black;
	top: 53px;
	left: 140px;
	display: table;
}*/
#chart-backgroud > div
{
	display: table-row;
}
.chart-line
{
	z-index: -1;
	height: 20px;
}
.chart-line-bg
{
	background: url("images/chart-bg.png") repeat;
}
#time-ruler
{
	position: absolute;
	top: 20px;
	left: 140px;
}
#time-ruler .block
{
	min-width: 14px;
	width: 14px;
	max-width: 14px;
	border-bottom: 1px solid black;
	height: 16px;
	min-height: 16px;
	max-height: 16px;
}
#time-ruler .block-min
{
	border-right: 1px dotted black;
}
#time-ruler .block-hour
{
	border-right: 1px solid black;
}

#bottom-time-ruler .block
{
	min-width: 14px;
	width: 14px;
	max-width: 14px;
	border-top: 1px solid black;
	height: 16px;
	min-height: 16px;
	max-height: 16px;
}
#bottom-time-ruler .block-min
{
	border-right: 1px dotted black;
}
#bottom-time-ruler .block-hour
{
	border-right: 1px solid black;
}
#float-menu-mask
{
	position: absolute;
	top: 0;
	left: 0;
	background-color: Black;
	opacity: 0.3;
	display: none;
	z-index: 100;
	width: 100%;
	height: 100%;
}
#summary-line
{
	height: 0px;
	margin: 10px 0 10px 0;
	border-bottom: 1px solid #933;
}
