xml-containment[style-id="100000"]
{
    background-color: #E1E7E5;
    color: #00786E;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 12px;
    text-align: center;
}
xml-containment[style-id="100000"] d-menu
{
    padding-top: 15px; /*background: url(bg.jpg) bottom center no-repeat;*/
}
xml-containment[style-id="100000"] d-restaurant-address
{
    width: 100%;
    color: #00786E;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 15px;
    border-top: #00786E 1px solid;
}
xml-containment[style-id="100000"] d-menu-header
{
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
}
xml-containment[style-id="100000"] d-restaurant-name
{
    display: inline;
}
xml-containment[style-id="100000"] d-restaurant-name:after
{
    content: ' - ';
}
xml-containment[style-id="100000"] d-menu-type
{
    display: inline;
}
xml-containment[style-id="100000"] d-primary-menu-name
{
    background: url(line.jpg) repeat-x;
    font-size: 34px;
    font-family: "Arial Black" , Gadget, sans-serif;
    text-transform: uppercase;
}
xml-containment[style-id="100000"] d-primary-menu-name d-line
{
    padding: 0px 20px 0 20px;
    background: #E1E7E5;
}
xml-containment[style-id="100000"] d-secondary-menu-name
{
    font-style: italic;
    text-transform: uppercase;
}
xml-containment[style-id="100000"] d-primary-menu-description
{
    font-weight: 800;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
}
xml-containment[style-id="100000"] d-secondary-menu-description
{
    font-style: italic;
    text-transform: uppercase;
}
xml-containment[style-id="100000"] d-primary-section-name
{
    background: url(line1.jpg) repeat-x;
    margin-top: 10px;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
}
xml-containment[style-id="100000"] d-primary-section-name d-line
{
    padding: 0px 20px 0 20px;
    background: #E1E7E5;
}

xml-containment[style-id="100000"] d-secondary-section-name
{
    font-style: italic;
    color: #666;
    font-size: 11px;
}
xml-containment[style-id="100000"] d-primary-section-description
{
    margin-top:10px;
    color: #20BB8D;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 14px;
}
xml-containment[style-id="100000"] d-secondary-section-description
{
    font-style: italic;
    color: #666;
    font-size: 11px;
}
xml-containment[style-id="100000"] d-primary-subsection-name
{
    background: url(line1.jpg) repeat-x;
    margin-top: 10px;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
}
xml-containment[style-id="100000"] d-primary-subsection-name d-line
{
    padding: 0px 20px 0 20px;
    background: #E1E7E5;
}
xml-containment[style-id="100000"] d-secondary-subsection-name
{
    font-style: italic;
    color: #666;
    font-size: 11px;
}
xml-containment[style-id="100000"] d-primary-subsection-description
{
    margin-top:10px;
    color: #20BB8D;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 14px;
}
xml-containment[style-id="100000"] d-secondary-subsection-description
{
    font-style: italic;
    color: #666;
    font-size: 11px;
}
xml-containment[style-id="100000"] d-item
{
    margin-top: 20px;
}
xml-containment[style-id="100000"] d-item:after
{
    clear: both;
    content: '';
    display: block;
}
xml-containment[style-id="100000"] d-primary-item-name
{
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin-right: 100px;
}
xml-containment[style-id="100000"] d-secondary-item-name
{
    text-align: left;
    margin-right: 100px;
    font-style: italic;
    font-size: 11px;
    color: #666;
}
xml-containment[style-id="100000"] d-primary-item-description
{
    text-align:left;
    color: #20BB8D;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 12px;
}
xml-containment[style-id="100000"] d-secondary-item-description
{
    text-align: left;
    margin-right: 100px;
    font-style: italic;
    font-size: 11px;
    color: #666;
}
xml-containment[style-id="100000"] d-item-price
{
    float: right;
    width: 90px;
    text-align: right;
}
xml-containment[style-id="100000"] d-group
{
    margin-top: 10px;
}
xml-containment[style-id="100000"] d-group:after
{
    clear: both;
    content: '';
    display: block;
}
xml-containment[style-id="100000"] d-group-price
{
    float: right;
    width: 90px;
    text-align: right;
}
xml-containment[style-id="100000"] d-primary-group-name
{
    margin-right: 100px;
    text-align: left;
    font-size: 12px;
}
xml-containment[style-id="100000"] d-secondary-group-name
{
    margin-right: 100px;
    text-align: left;
    font-style: italic;
    font-size: 11px;
    color: #666;
}
xml-containment[style-id="100000"] d-primary-group-description
{
    text-align:left;
    color: #20BB8D;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 12px;
}
xml-containment[style-id="100000"] d-secondary-group-description
{
    text-align: left;
    margin-right: 100px;
    font-style: italic;
    font-size: 11px;
    color: #666;
}
xml-containment[style-id="100000"] d-option-list
{
}
xml-containment[style-id="100000"] d-option-list:after
{
    clear: both;
    content: '';
    display: block;
}
xml-containment[style-id="100000"] d-option
{
    margin-left: 10px;
    margin-top: 10px;
    width: 45%;
    min-width: 200px;
    float: left;
    text-align: left;
}
xml-containment[style-id="100000"] d-primary-option-name
{
    line-height: 18px;
    font-size: 12px;
}

xml-containment[style-id="100000"] d-secondary-option-name, xml-containment[style-id="100000"] d-ddl-secondary-option-name
{
    font-style: italic;
    color: #666;
    font-size: 11px;
}
xml-containment[style-id="100000"] d-primary-option-description
{
    text-align:left;
    color: #20BB8D;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 11px;
}
xml-containment[style-id="100000"] d-secondary-option-description
{
    text-align: left;
    margin-right: 100px;
    font-style: italic;
    font-size: 11px;
    color: #666;
}