.dialog-contentment
{
    color: #933;
    font-style: normal;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}
.dialog-title
{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.dialog-contentment .button-panel
{
    width: 650px;
}
.button-panel div
{
    width: 108px;
    float: left;
    text-align: center;
}
.dialog-contentment .information-div
{
    padding-top: 16px;
    width: 650px;
}
.information-div div
{
    height: 32px;
    float: left;
    white-space: nowrap;
    line-height: 20px;
}
.information-div .line
{
    width: 100%;
}
.information-div .label-text
{
    font-weight: bold;
    width: 165px;
}
.information-div .value-text
{
    margin-right: 10px;
    width: 150px;
    overflow: hidden;
}
.value-text input[type=checkbox]
{
    margin-top: 5px;
}
.value-text input[type=text]
{
    height: 16px;
}
.dialog-contentment table
{
    width: 100%;
}
.dialog-contentment div.scrollable
{
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}
.dialog-contentment table thead td
{
    background-color: #933;
    color: White;
    vertical-align: middle;
}
.dialog-contentment table td
{
    padding: 3px;
    text-align: center;
}
.dialog-contentment table tbody td
{
    vertical-align: top;
}
.dialog-contentment table tbody td.no-wrap
{
    white-space: nowrap;
}
.dialog-contentment .even-line td
{
    background-color: #F7E4DB;
}
.star-on, .star-off
{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    float: left;
}
.star-on
{
    background-image: url("images/starOn.png");
}
.star-off
{
    background-image: url("images/starOff.png");
}
