@section import {
    @NoCache.Instance.Css(Url, "~/Content/about.css")
    @NoCache.Instance.Css(Url, "~/Content/account.css")
}
@{
    ViewBag.Title = "About Us";
}
<div class="info-container">
    <div class="logo">
    </div>
    <div id="version">
        Version 1.3.83</div>
    <div id="powered-by">
        <span>Powered by </span><span class="vendor-name">iMyVenue applications</span>
    </div>
    <div id="description">
        A major step forward in managing your restaurant and getting customers<br />
        to make table reservations from Smartphone devices or your website.
    </div>
</div>
@section footer {
    @Html.ActionLink(" ", "Index", "Summary", null, new { @class = "button-back image-button left" })
}
