/* common attributes for buttons */
.image-button
{
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    overflow: hidden;
    display: block;
}
.i-my-menu-2-button 
{
	width: 196px;
	height: 30px;
	background-image: url(images/optionmenu-iMyMenu.png);
}
.i-my-menu-2-button:hover 
{
	background-image: url(images/optionmenu-iMyMenu-hover.png);
}
.i-my-menu-2-button:active 
{
	background-image: url(images/optionmenu-iMyMenu-onclick.png);
}
/* ------------------------------------------------------------------------- */

/* 
Button: 'Back'
Screens:
- Register
- Forgot Password
- Location List
- Create Reservation
- Create Location
*/
.button-setting
{
    background-image: url("images/Settings.png");
    height: 28px;
    width: 65px;
}
.button-back
{
    background-image: url("images/back-btn.png");
    height: 28px;
    width: 65px;
}
.button-back:hover
{
    background-image: url("images/back-btn-hover.png");
}
.button-back:active
{
    background-image: url("images/back-btn-onclick.png");
}
.button-mapping
{
    background-image: url("images/MenuEditor/menu-mapping.png");
    height: 28px;
    width: 65px;
}
.button-mapping:hover
{
    background-image: url("images/MenuEditor/menu-mapping-hover.png");
}
.button-mapping:active
{
    background-image: url("images/MenuEditor/menu-mapping-press.png");
}
/* ------------------------------------------------------------------------- */

/*
Button: 'Zoom In'
Screens:
- Summary
- Create Reservation
- Layout
- Numbering
- Set Availability
*/
.button-zoom-in
{
    background-image: url("images/summary-maximise-btn.png");
    width: 34px;
    height: 30px;
}
/* ------------------------------------------------------------------------- */

/*
Button: 'Zoom Out'
Screens:
- Summary
- Create Reservation
- Layout
- Numbering
- Set Availability
*/
.button-zoom-out
{
    background-image: url("images/summary-minimise-btn.png");
    width: 34px;
    height: 30px;
}
/* ------------------------------------------------------------------------- */

/*
Button: 'Add'
Screens:
- Create Location
*/
.button-add
{
    background-image: url("images/add-btn.png");
    width: 65px;
    height: 28px;
}
.button-add:hover
{
    background-image: url("images/create-newloc-addbtn-hover.png");
}
.button-add:active
{
    background-image: url("images/create-newloc-addbtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

/*
Button: 'Continue'
Screens:
- Create Location
*/
.button-continue
{
    background-image: url("images/continue-btn.png");
    width: 83px;
    height: 28px;
}
.button-continue:hover 
{
    background-image: url("images/continue-btn-hover.png");
}
.button-continue:active 
{
    background-image: url("images/continue-btn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-reset
{
    background-image: url("images/createflrplan-reset-btn.png");
    width: 67px;
    height: 28px;
    margin-left: 20px;
}
.button-reset:hover
{
    background-image: url("images/create-flrplan-resetbtn-hover.png");
}
.button-reset:active
{
    background-image: url("images/create-flrplan-resetbtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-create-location
{
    background-image: url("images/create-new-loc-btn.png");
    width: 196px;
    height: 30px;
}
.button-create-location:hover
{
    background-image: url("images/optionmenu-createnewloc-hover.png");
}
.button-create-location:active
{
    background-image: url("images/optionmenu-createnewloc-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-terms
{
    background-image: url("images/term-cond-btn.png");
    width: 196px;
    height: 30px;
}
.button-terms:hover
{
    background-image: url("images/optionmenu-termscond-hover.png");
}
.button-terms:active
{
    background-image: url("images/optionmenu-termscond-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-about
{
    background-image: url("images/about-iMR-btn.png");
    width: 196px;
    height: 30px;
}
.button-about:hover
{
    background-image: url("images/optionmenu-aboutiMR-hover.png");
}
.button-about:active
{
    background-image: url("images/optionmenu-aboutiMR-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-edit-profile
{
    background-image: url("images/edit-rest-profile-btn.png");
    width: 196px;
    height: 30px;
}
.button-edit-profile:hover
{
    background-image: url("images/optionmenu-editrestprofile-hover.png");
}
.button-edit-profile:active
{
    background-image: url("images/optionmenu-editrestprofile-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-change-password-summary
{
    background-image: url("images/change-pw-btn.png");
    width: 196px;
    height: 30px;
}
.button-change-password-summary:hover
{
    background-image: url("images/optionmenu-changepw-hover.png");
}
.button-change-password-summary:active
{
    background-image: url("images/optionmenu-changepw-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-edit-availability
{
    background-image: url("images/optionmenu-setiMyTable-btn.png");
    width: 196px;
    height: 30px;
}
.button-edit-availability:hover
{
    background-image: url("images/optionmenu-setiMyTable-hover.png");
}
.button-edit-availability:active
{
    background-image: url("images/optionmenu-setiMyTable-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-edit-location
{
    background-image: url("images/edit-loc-btn.png");
    width: 196px;
    height: 30px;
}
.button-edit-location:hover
{
    background-image: url("images/optionmenu-editlocation-hover.png");
}
.button-edit-location:active
{
    background-image: url("images/optionmenu-editlocation-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-edit-floor-layout
{
    background-image: url("images/edit-flrplan-btn.png");
    width: 196px;
    height: 30px;
}
.button-edit-floor-layout:hover
{
    background-image: url("images/edit-flrplan-btn-hover.png");
}
.button-edit-floor-layout:active
{
    background-image: url("images/edit-flrplan-btn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-edit-business-hour
{
    background-image: url("images/edit-loc-bizhrs-btn.png");
    width: 196px;
    height: 30px;
}
.button-edit-business-hour:hover
{
    background-image: url("images/optionmenu-editbizhrs-hover.png");
}
.button-edit-business-hour:active
{
    background-image: url("images/optionmenu-editbizhrs-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-cancel
{
    background-image: url("images/cancel-btn.png");
    width: 77px;
    height: 28px;
}
.button-cancel:hover
{
    background-image: url("images/cancel-btn-hover.png");
}
.button-cancel:active
{
    background-image: url("images/cancel-btn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-restart
{
    background-image: url("images/restart-btn.png");
    width: 78px;
    height: 28px;
}
.button-restart:hover 
{
    background-image: url("images/restart-btn-mouse-hover.png");
}
.button-restart:active 
{
    background-image: url("images/restart-btn-normal-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-save
{
    background-image: url("images/save-btn.png");
    width: 65px;
    height: 28px;
}
.button-save:hover 
{
    background-image: url("images/save-btn-hover.png");
}
.button-save:active 
{
    background-image: url("images/save-btn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-previous
{
    background-image: url("images/summary-select-back.png");
    width: 27px;
    height: 24px;
}
/* ------------------------------------------------------------------------- */

.button-next
{
    background-image: url("images/summary-select-forward.png");
    width: 27px;
    height: 24px;
}
/* ------------------------------------------------------------------------- */

.button-signout
{
    background-image: url("images/summary-signout.png");
    width: 77px;
    height: 28px;
}
.button-signout:hover
{
    background-image: url("images/summary-signout-btn-hover.png");
}
.button-signout:active
{
    background-image: url("images/summary-signout-btn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-options
{
    background-image: url("images/summary-options.png");
    width: 76px;
    height: 28px;
}
.button-options:hover, .button-options-active
{
    background-image: url("images/summary-options-btn-hover.png");
}
.button-options:hover:active
{
    background-image: url("images/summary-options-btn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-create-reservation
{
    background-image: url("images/summary-new-reservation.png");
    width: 197px;
    height: 33px;
}
.button-create-reservation:hover
{
    background-image: url("images/summary-new-reservation-hover.png");
}
.button-create-reservation:active
{
    background-image: url("images/summary-new-reservation-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-login
{
    background-image: url("images/landing-login-btn.png");
    height: 28px;
    width: 65px;
}
.button-login:hover
{
    background-image: url("images/landing-login-btn-hover.png");
}
.button-login:active
{
    background-image: url("images/landing-login-btn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-forgot
{
    background-image: url("images/landing-forgot-btn.png");
    height: 28px;
    width: 129px;
}
.button-forgot:hover
{
    background-image: url("images/landing-forgot-btn-hover.png");
}
.button-forgot:active
{
    background-image: url("images/landing-forgot-btn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-register
{
    background-image: url("images/landing-register-btn.png");
    height: 45px;
    width: 101px;
}
.button-register:hover
{
    background-image: url("images/landing-register-btn-hover.png");
}
.button-register:active
{
    background-image: url("images/landing-register-btn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-demo
{
    background-image: url("images/demo-btn.png");
    height: 28px;
    width: 65px;
}
.button-demo:hover
{
    background-image: url("images/demo-btn-hover.png");
}
.button-demo:active
{
    background-image: url("images/demo-btn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-change-reservation
{
    background-image: url("images/summary-change-reservation.png");
    height: 34px;
    width: 84px;
}
.button-change-reservation:hover
{
    background-image: url("images/reservedetail-changebtn-hover.png");
}
.button-change-reservation:active
{
    background-image: url("images/reservedetail-changebtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-cancel-reservation
{
    background-image: url("images/summary-cancel-reservation.png");
    height: 34px;
    width: 84px;
}
.button-cancel-reservation:hover
{
    background-image: url("images/reservedetail-cancelbtn-hover.png");
}
.button-cancel-reservation:active
{
    background-image: url("images/reservedetail-cancelbtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-block-guest
{
    background-image: url("images/summary-block-guest.png");
    height: 34px;
    width: 84px;
}
.button-block-guest:hover
{
    background-image: url("images/reservedetail-blockbtn-hover.png");
}
.button-block-guest:active
{
    background-image: url("images/reservedetail-blockbtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-report-guest
{
    background-image: url("images/summary-no-show.png");
    height: 34px;
    width: 84px;
}
.button-report-guest:hover
{
    background-image: url("images/reservedetail-noshowbtn-hover.png");
}
.button-report-guest:active
{
    background-image: url("images/reservedetail-noshowbtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-reservation-history
{
    background-image: url("images/summary-reservations-history.png");
    height: 34px;
    width: 84px;
}
.button-reservation-history:hover
{
    background-image: url("images/reservedetail-reservehistorybtn-hover.png");
}
.button-reservation-history:active
{
    background-image: url("images/reservedetail-reservehistorybtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-save-close
{
    background-image: url("images/summary-save-close.png");
    height: 34px;
    width: 84px;
}
.button-save-close:hover
{
    background-image: url("images/reservedetail-saveclosebtn-hover.png");
}
.button-save-close:active
{
    background-image: url("images/reservedetail-saveclosebtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-delete
{
    width: 22px;
    height: 22px;
    background: url("images/create-loc-trash-icon.png") no-repeat;
}
/* ------------------------------------------------------------------------- */

.button-save-layout
{
    background-image: url("images/save-layout-btn.png");
    height: 28px;
    width: 108px;
}
.button-save-layout:hover 
{
    background-image: url("images/save-layout-btn-hover.png");
}
.button-save-layout:active 
{
   background-image: url("images/save-layout-btn-onclick.png");
}

/* ------------------------------------------------------------------------- */

.button-done
{
    background-image: url("images/done-button.png");
    height: 28px;
    width: 70px;
}
.button-done:hover
{
    background-image: url("images/btn-done-hover.png");
}
.button-done:active
{
    background-image: url("images/btn-done-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-menu-close
{
    background-image: url("images/edit-bizhours-close.png");
    height: 24px;
    width: 65px;
}
.button-menu-close:hover
{
    background-image: url("images/edit-bizhours-close-hover.png");
}
.button-menu-close:active
{
    background-image: url("images/edit-bizhours-close-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-imymenu
{
    background-image: url("images/edit-bizhours-imm.png");
    height: 24px;
    width: 65px;
}
.button-imymenu:hover
{
    background-image: url("images/edit-bizhours-imm-hover.png");
}
.button-imymenu:active
{
    background-image: url("images/edit-bizhours-imm-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-add-menu-type
{
    background-image: url("images/create-loc-addmenu-btn.png");
    height: 30px;
    width: 127px;
}
.button-add-menu-type:hover
{
    background-image: url("images/create-bizhr-addmenu-hover.png");
}
.button-add-menu-type:active
{
    background-image: url("images/create-bizhr-addmenu-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-delete-menu
{
    background-image: url("images/details-close-btn.png");
    height: 21px;
    width: 21px;
}
/* ------------------------------------------------------------------------- */

.button-show-hide-holiday
{
    background-image: url("images/create-bizhrs-hideshow-btn.png")!important;
    height: 25px;
    width: 100px;
}
.button-show-hide-holiday:hover 
{
    background-image: url("images/create-bizhr-hideshowbtn-hover.png")!important;
}
.button-show-hide-holiday:active 
{
    background-image: url("images/create-bizhr-hideshowbtn-onclick.png")!important;
}
/* ------------------------------------------------------------------------- */

.button-save-holiday 
{
    background-image: url("images/create-bizhrs-save-btn.png");
    height: 25px;
    width: 84px;
}
.button-save-holiday:hover 
{
    background-image: url("images/create-bizhrs-savebtn-hover.png");
}
.button-save-holiday:active 
{
    background-image: url("images/create-bizhrs-savebtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-discard-holiday 
{
    background-image: url("images/create-bizhrs-discard-btn.png");
    height: 25px;
    width: 84px;
}
.button-discard-holiday:hover 
{
    background-image: url("images/create-bizhrs-discardbtn-hover.png");
}
.button-discard-holiday:active 
{
    background-image: url("images/create-bizhrs-discardbtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-done-holiday 
{
    background-image: url("images/create-bizhrs-done-btn.png");
    height: 25px;
    width: 84px;
}
.button-done-holiday:hover 
{
    background-image: url("images/create-bizhrs-donebtn-hover.png");
}
.button-done-holiday:active 
{
    background-image: url("images/create-bizhrs-donebtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-add-special-day 
{
    background-image: url("images/create-bizhrs-specialadd-btn.png");
    height: 25px;
    width: 126px;
}
.button-add-special-day:hover 
{
    background-image: url("images/create-specialday-addbtn-hover.png");
}
.button-add-special-day:active 
{
    background-image: url("images/create-specialday-addbtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-delete-special-day 
{
    background-image: url("images/create-bizhrs-specialdel-btn.png");
    height: 25px;
    width: 126px;
}
.button-delete-special-day-active
{
    background-image: url("images/create-specialday-deletebtn-onclick.png");
    height: 25px;
    width: 126px;
}
.button-delete-special-day:hover 
{
    background-image: url("images/create-specialday-deletebtn-hover.png");
}
.button-delete-special-day:active 
{
    background-image: url("images/create-specialday-deletebtn-onclick.png");
}
/* ------------------------------------------------------------------------- */

.button-imymenu-search 
{
    background-image: url(images/iMyMenu-Upload-Preview-searchbtn.png);
    height: 25px;
    width: 97px;
}
.button-imymenu-search:hover 
{
    background-image: url(images/iMyMenu-Upload-Preview-searchbtn-hover.png);
}
.button-imymenu-search:active
{
    background-image: url(images/iMyMenu-Upload-Preview-searchbtn-onclick.png);
}
/* ------------------------------------------------------------------------- */

.button-imymenu-change 
{
    background-image: url(images/iMyMenu-Upload-Preview-changebtn.png);
    height: 25px;
    width: 67px;
}
.button-imymenu-change:hover 
{
    background-image: url(images/iMyMenu-Upload-Preview-changebtn-hover.png);
}
.button-imymenu-change:active
{
    background-image: url(images/iMyMenu-Upload-Preview-changebtn-onclick.png);
}
/* ------------------------------------------------------------------------- */

.button-imymenu-add 
{
    background-image: url(images/iMyMenu-Upload-Preview-addbtn.png);
    height: 25px;
    width: 57px;
}
.button-imymenu-add:hover 
{
    background-image: url(images/iMyMenu-Upload-Preview-addbtn.png);
}
.button-imymenu-add:active
{
    background-image: url(images/iMyMenu-Upload-Preview-addbtn.png);
}
/* ------------------------------------------------------------------------- */

.button-imymenu-upload 
{
    background-image: url(images/iMyMenu-Upload-Preview-uploadbtn.png);
    height: 25px;
    width: 67px;
}
.button-imymenu-upload:hover 
{
    background-image: url(images/iMyMenu-Upload-Preview-uploadbtn-hover.png);
}
.button-imymenu-upload:active
{
    background-image: url(images/iMyMenu-Upload-Preview-uploadbtn-onclick.png);
}
/* ------------------------------------------------------------------------- */

.button-imymenu-cancel 
{
    background-image: url(images/iMyMenu-Upload-Preview-cancelbtn.png);
    height: 25px;
    width: 67px;
}
.button-imymenu-cancel:hover 
{
    background-image: url(images/iMyMenu-Upload-Preview-cancelbtn-hover.png);
}
.button-imymenu-cancel:active
{
    background-image: url(images/iMyMenu-Upload-Preview-cancelbtn-onclick.png);
}
/* ------------------------------------------------------------------------- */

.button-imymenu-delete 
{
    background-image: url(images/iMyMenu-Upload-Preview-deletebtn.png);
    height: 25px;
    width: 67px;
}
.button-imymenu-delete:hover 
{
    background-image: url(images/iMyMenu-Upload-Preview-deletebtn-hover.png);
}
.button-imymenu-delete:active
{
    background-image: url(images/iMyMenu-Upload-Preview-deletebtn-onclick.png);
}
/* ------------------------------------------------------------------------- */

.button-imymenu-copy 
{
    background-image: url(images/iMyMenu-Upload-Preview-copybtn.png);
    height: 25px;
    width: 67px;
}
.button-imymenu-copy:hover 
{
    background-image: url(images/iMyMenu-Upload-Preview-copybtn-hover.png);
}
.button-imymenu-copy:active
{
    background-image: url(images/iMyMenu-Upload-Preview-copybtn-onclick.png);
}
/* ------------------------------------------------------------------------- */

.button-change 
{
    background-image: url(images/change-btn.png);
    width: 77px;
    height: 28px;
}
/* ------------------------------------------------------------------------- */

.button-display-password 
{
    background-image: url(images/display-password-btn.png);
    width: 129px;
    height: 28px;
}
.button-display-password:hover
{
    background-image: url(images/display-password-btn-hover.png);
}
.button-display-password:active
{
    background-image: url(images/display-password-btn-onclick.png);
}
/* ------------------------------------------------------------------------- */

.button-send-question 
{
    background-image: url(images/send-question-btn.png);
    width: 129px;
    height: 28px;
}
.button-send-question:hover
{
    background-image: url(images/send-question-btn-hover.png);
}
.button-send-question:active
{
    background-image: url(images/send-question-btn-onclick.png);
}
/* ------------------------------------------------------------------------- */

.button-copy 
{
    background-image: url(images/edit-bizhours-copy.png);
    width: 65px;
    height: 28px;
}
.button-copy:hover 
{
    background-image: url(images/edit-bizhours-copy-hover.png);
}
.button-copy:active 
{
    background-image: url(images/edit-bizhours-copy-onclick.png);
}
/* ------------------------------------------------------------------------- */

.button-new-reservation 
{
    background-image: url(images/more-reservation-normal.png);
    width: 180px;
    height: 27px;
}
.button-new-reservation:hover 
{
    background-image: url(images/more-reservation-hover.png);
}
.button-new-reservation:active 
{
    background-image: url(images/more-reservation-onclick.png);
}
/* ------------------------------------------------------------------------- */

.button-create 
{
    background-image: url("images/createflrplan-create-btn.png");
    width: 70px;
    height: 28px;
}
.button-create:hover
{
    background-image: url("images/create-flrplan-createbtn-hover.png");
}
.button-create:active 
{
    background-image: url("images/create-flrplan-createbtn-onclick.png");
}
