@font-face
{
    font-family: htxuan;
    src: url('fonts/htxuan.ttf') format('truetype');
}

/* Then use it like you would any other font */
.htxuan
{
    font-family: htxuan , verdana, helvetica, sans-serif;
}
@font-face
{
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-webfont.woff') format('woff'), url('fonts/BebasNeue-webfont.ttf') format('truetype'), url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
xml-containment[style-id="100002"]
{
    font-family: 'BebasNeueRegular' , 'Arial Narrow' , Arial, sans-serif;
    background: #433D3D;
    color: white;
    font-size: 16px;
    text-align: left;
}
xml-containment[style-id="100002"] d-menu
{
    padding-top: 15px;
}
xml-containment[style-id="100002"] d-restaurant-address
{
    color: #F75733;
    border-top: #F75733 1px solid;
    margin-top: 15px;
    padding-top: 7px;
    margin-bottom: 15px;
}
xml-containment[style-id="100002"] d-menu-header
{
    padding-bottom: 5px;
    text-transform: uppercase;
}
xml-containment[style-id="100002"] d-restaurant-name
{
    display: inline;
}
xml-containment[style-id="100002"] d-restaurant-name:after
{
    content: ' - ';
}
xml-containment[style-id="100002"] d-menu-type
{
    display: inline;
}
xml-containment[style-id="100002"] d-menu-title
{
    border-top: #F75733 1px solid;
    border-bottom: #F75733 1px solid;
    padding: 5px 0 5px 0;
    position: relative;
    min-height: 50px;
}
xml-containment[style-id="100002"] d-menu-title:after
{
    clear: both;
    display: block;
    content: '';
}
xml-containment[style-id="100002"] d-menu-name
{
    float: left;
    width: 38%;
}
xml-containment[style-id="100002"] d-primary-menu-name
{
    font-family: "Arial Black" , Gadget, sans-serif;
    font-size: 38px;
    color: #F75733;
    text-transform: uppercase;
    word-break: break-all;
}
xml-containment[style-id="100002"] d-secondary-menu-name
{
    font-family: "Arial Black" , Gadget, sans-serif;
    font-size: 12px;
    color: #F75733;
    word-break: break-all;
}
xml-containment[style-id="100002"] d-primary-menu-description
{
    padding-top: 10px;
    margin-left: 40%;
}
xml-containment[style-id="100002"] d-secondary-menu-description
{
    margin-left: 40%;
    font-family: Georgia, "Times New Roman" , Times, serif;
    color: #999;
    font-size: 11px;
}
xml-containment[style-id="100002"] d-primary-section-name
{
    text-align: center;
    color: #F75733;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
xml-containment[style-id="100002"] d-secondary-section-name
{
    font-family: Georgia, "Times New Roman" , Times, serif;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}
xml-containment[style-id="100002"] d-primary-section-description
{
    text-align: center;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 12px;
    color: #ED7217;
}
xml-containment[style-id="100002"] d-secondary-section-description
{
    font-family: Georgia, "Times New Roman" , Times, serif;
    text-align: center;
    font-style: italic;
    color: #999;
    font-size: 11px;
}
xml-containment[style-id="100002"] d-subsection
{
    margin-top: 20px;
}
xml-containment[style-id="100002"] d-secondary-subsection-name
{
    font-family: Georgia, "Times New Roman" , Times, serif;
    color: #999;
    font-size: 11px;
    font-style: italic;
    text-align: center;
}
xml-containment[style-id="100002"] d-primary-subsection-description
{
    text-align: center;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 12px;
    color: #ED7217;
}
xml-containment[style-id="100002"] d-secondary-subsection-description
{
    text-align: center;
    font-style: italic;
    color: #999;
    font-size: 11px;
    font-family: Georgia, "Times New Roman" , Times, serif;
}
xml-containment[style-id="100002"] d-item
{
    margin-top: 20px;
}
xml-containment[style-id="100002"] d-primary-item-name
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 100px;
    color: #F75733;
}
xml-containment[style-id="100002"] d-secondary-item-name
{
    font-family: Georgia, "Times New Roman" , Times, serif;
    color: #999;
    font-size: 11px;
    font-style: italic;
}
xml-containment[style-id="100002"] d-primary-item-description
{
    text-align: left;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 12px;
    color: #ED7217;
}
xml-containment[style-id="100002"] d-secondary-item-description
{
    text-align: left;
    font-style: italic;
    color: #999;
    font-size: 11px;
    font-family: Georgia, "Times New Roman" , Times, serif;
}
xml-containment[style-id="100002"] d-item-price
{
    float: right;
    width: 90px;
    text-align: right;
}
xml-containment[style-id="100002"] d-group
{
    margin-top: 10px;
}
xml-containment[style-id="100002"] d-group:after
{
    clear: both;
    content: '';
    display: block;
}
xml-containment[style-id="100002"] d-group-price
{
    float: right;
    width: 90px;
    text-align: right;
}
xml-containment[style-id="100002"] d-primary-group-name
{
    margin-right: 100px;
}
xml-containment[style-id="100002"] d-secondary-group-name
{
    margin-right: 100px;
    font-family: Georgia, "Times New Roman" , Times, serif;
    color: #999;
    font-size: 11px;
    font-style: italic;
}
xml-containment[style-id="100002"] d-primary-group-description
{
    text-align: left;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 12px;
    color: #ED7217;
}
xml-containment[style-id="100002"] d-secondary-group-description
{
    text-align: left;
    font-style: italic;
    color: #999;
    font-size: 11px;
    font-family: Georgia, "Times New Roman" , Times, serif;
}
xml-containment[style-id="100002"] d-option-list
{
}
xml-containment[style-id="100002"] d-option-list:after
{
    clear: both;
    content: '';
    display: block;
}
xml-containment[style-id="100002"] d-option
{
    margin-left: 10px;
    margin-top: 10px;
    width: 45%;
    min-width: 200px;
    float: left;
}
xml-containment[style-id="100002"] d-primary-option-name
{
    line-height: 18px;
}
xml-containment[style-id="100002"] d-secondary-option-name, xml-containment[style-id="100002"] d-ddl-secondary-option-name
{
    font-family: Georgia, "Times New Roman" , Times, serif;
    color: #999;
    font-size: 11px;
}
xml-containment[style-id="100002"] d-primary-option-description
{
    text-align: left;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 11px;
    color: #ED7217;
}
xml-containment[style-id="100002"] d-secondary-option-description
{
    text-align: left;
    font-style: italic;
    color: #999;
    font-size: 11px;
    font-family: Georgia, "Times New Roman" , Times, serif;
}
xml-containment[style-id="100002"] d-primary-subsection-name
{
    text-align: center;
}
