@section import {
    @NoCache.Instance.Css(Url, "~/Content/about.css")
}
@{
    ViewBag.Title = "Terms and Conditions";
}
<div class="info-container">
    <div id="title">
        <text>iMyRestaurant - Terms and Conditions</text>
    </div>
    <div class="opacity-box center-box" style="width: 900px; padding: 20px;">
        iMyRestaurant application and its products/services are subject to your agreement
        to the Terms of Use.<br />
        <br />
        a) Intellectual Property<br />
        All content, contained on iMyRestaurant is owned, controlled or licensed by or to
        iMyRestaurant, and is protected by copyright, patent and trademark laws, and various
        other intellectual property rights and unfair competition laws. Content may not
        be copied, reproduced, republished, uploaded, posted, publicly displayed, encoded,
        translated, transmitted or distributed in any way to any other computer, server,
        Web site or other medium for publication or distribution or for any commercial enterprise,
        without iMyRestaurant’s prior written consent.
        <br />
        <br />
        b) Limitation of Liability<br />
        iMyRestaurant will not be liable for any losses or damages whatsoever for information
        or opinions contained on this application or website. iMyRestaurant acts as a reservation
        service only, and is not responsible for claims or complaints arising from the service
        supplied by Venues, whether such claims are made by You or by third parties.
        <br />
        <br />
        c) Disclaimer on Information<br />
        iMyRestaurant publish the Venue’s information to iMyTable users and all this content
        is published by the Venue. iMyRestaurant is not responsible for misrepresentation
        or accuracy of Venue information as supplied by the Venue on this application.
        <br />
    </div>
</div>
@section footer {
    @Html.ActionLink(" ", "Index", "Summary", null, new { @class = "button-back image-button left" })
}
