<div class="menu-type-header clearfix">
    <div class="event-name">Menu Type</div>
    <div class="event-type">Event</div>
    <div class="day">Mon</div>
    <div class="day">Tue</div>
    <div class="day">Wed</div>
    <div class="day">Thu</div>
    <div class="day">Fri</div>
    <div class="day">Sat</div>
    <div class="day">Sun</div>
</div>