<div class="info-box-mask">
    <div class="info-box">
        <div class="info-title">
        </div>
        <div class="info-message">
        </div>
        <div class="info-buttons">
            <button type="button" class="ok">
            </button>
            <button type="button" class="no">
            </button>
            <button type="button" class="yes">
            </button>
             <button type="button" class="cancel">
            </button>
            <button type="button" class="done">
            </button>
           
        </div>
    </div>
</div>
