<div id="dialog-mask" class="hidden">
    <div id="progress-dialog">
        <div id="progress-dialog-text">
        </div>
        <div id="progress-dialog-image">
            <img src="@NoCache.Instance.Url(Url, "~/Content/Images/loading.gif")" alt="" />
        </div>
    </div>
</div>
